* {
    margin: 0;
    padding: 0;
}

body {
    padding: 75px 0 144px 0px;
}


.wrapper {
    max-width: 990px;
    margin: 0 auto;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex {
    display: flex;
}

h1 {
    font-size: 30px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    margin-bottom: 70px;

}

h2 {
    font-size: 20px;
    letter-spacing: 0px;
    text-transform: uppercase;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
    margin-bottom: 28px;
}

textarea {
    resize: vertical;
}

.form1 {
    max-width: 330px;
}

.relative {
    position: relative;
}

input,
textarea,
select {
    outline: none;
}

select {
    font-family: "Roboto";
}

.form1 textarea {
    height: 110px;
}

.form1 input::placeholder,
.form1 textarea::placeholder {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.form1 input,
.form1 textarea,
.form1 select {
    border: none;
    border: 1px solid #cccccc;
    background-color: #fff;
    width: 305px;
    padding: 11.5px;
    margin-bottom: 10px;
    border-radius: 3px;
}

.form1 select {
    width: 330px;
}

.form1 select{
    background-position-x: 303px;
}

.form1 input:hover {
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
    border-radius: 3px;
}

.form1 select:hover {
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
    border-radius: 3px;
}

.form1 textarea:hover {
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
    border-radius: 3px;
}


.form1 a {
    position: relative;
    top: 8px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    border-radius: 3px;
    background-color: #12d661;
    text-decoration: none;
    padding: 13.5px 108.18px;
    transition: 0.2s;
}

.form1 a:hover {
    background-color: #07be51;
    filter: drop-shadow(0px 2px 2.5px rgba(8, 118, 52, 0.35));
}

hr {
    border: none;
    border-top: 1px solid #dcdcde;
    margin-bottom: 50px;
}

.form2 {
    margin-bottom: 50px;
}

.form2 input::-webkit-calendar-picker-indicator {
    background-image: url(../images/calendar.svg);
}


.radio p {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    margin-left: 25px;
}

.radio-label {
    position: relative;
}

label.disabled {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.check {
    display: none;
}

.tick {
    position: relative;
    margin-bottom: 13px;
}

.check+label {
    position: relative;
}

.check+label::before {
    content: "";
    position: relative;
    width: 17px;
    height: 17px;
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #cccccc;
    transition: 0.5s;
}

.check+label:hover::before {
    border: 1px solid #244dd7;
}

.check+label::before,
.check+label::after {
    content: "";
    position: absolute;
}

.check:checked+label:after {
    left: 6px;
    top: 7px;
    width: 7px;
    height: 4px;
    border-left: 2px solid #244dd7;
    border-bottom: 2px solid #244dd7;
    transform: rotate(-45deg);
    box-sizing: border-box;
}

textarea {
    font-family: Arial;
}



.tick p {
    position: relative;
    top: 1px;
    margin-left: 28px;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.tick-disabled .check+label::before {
    background-color: #f7f7f7;
}

.tick-disabled p {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.tick-disabled .check+label:hover::before {
    border: 1px solid #cccccc;
}

.date {
    width: 430px;
    border-radius: 3px;
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    padding: 24px 21px;
}

.date h3 {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 700;
    font-family: "Roboto";
}

.date .flex {
    align-items: center;
    column-gap: 37px;
}

.date-input {
    border: 1px solid #cccccc;
    padding: 11.35px 18px;
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
    border-radius: 3px;
    transition: 0.3s;
}

.date-input:hover {
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
    border-radius: 3px;
}


.people-check .check+label::before {
    content: '';
    background: url(../images/man-checkbox-hover.png) no-repeat;
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.5s;
}

.people-check .check:checked+label:before {
    content: "";
    filter: grayscale(0%);
}

.people-check .tick {
    margin-bottom: 0px;
}

.people-check .tick:last-child .check+label::before {
    background: url(../images/woman-checkbox-hover.png) no-repeat;
}


.people-check p {
    padding-left: 50px;
    padding-top: 30px;
}

.people-check p {
    font-size: 16px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
    transition: 0.2s;
}

.people-check .check:checked+label p {
    font-size: 16px;
    color: #3e6aff;
    font-weight: 700;
    font-family: "Roboto";
}

.people-check .check:checked+label:after {
    border: 0;
}

.people-check .woman:checked+label:after {
    border: 0;
}


.people-check .tick:last-child {
    top: 40px;
}

.slider-styled input {
    display: none;
}

.slider:before {
    content: "";
    position: relative;
    width: 45px;
    height: 25px;
    border-radius: 12px;
    background-color: #cfcfd1;
}

.switch-for {
    cursor: pointer;
    font-size: 16px;
    line-height: 25px;
    position: relative;
}

.switch-for::before {
    content: "";
    width: 45px;
    height: 25px;
    background-color: #cfcfd1;
    border-radius: 15px;
    position: absolute;
    top: -4px;
    left: -60px;
}

.switch-for:after {
    content: "";
    width: 21px;
    height: 21px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    left: -58px;
    bottom: -2px;
    z-index: 1;
    transition: 0.3s;
}

.switch {
    display: none;
}

.switch:checked+.switch-for::after {
    left: -38px;
}

.switch:checked+.switch-for::before {
    background-color: #3e6aff;
}

.switch-for {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.slider-styled form {
    margin-bottom: 20px;
}

.slider-styled {
    margin-top: 30px;
}

.form3 {
    margin-bottom: 50px;
}

.form3 .flex {
    column-gap: 360px;
}

.form4 th {
    font-size: 18px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
}

.form4 td {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.form4 ::placeholder {
    font-size: 14px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.form4 input:not(.radio-male input, .photo-input input),
.form4 textarea,
.form4 select {
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 12.5px 15px;
    width: 309px;
}

.form4 input:not(.radio-male input, .photo-input input):hover,
.form4 textarea:hover,
.form4 select:hover {
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
}

.form4 select {
    padding: 11.5px 15px;
    width: 341px;
}

.form4 textarea {
    height: 104px;
}

.photo-input input {
    display: none;
}

.photo-input {
    position: relative;
}

.photo-input>label {
    position: relative;
}

.label-file:last-child:before {
    position: absolute;
    content: "Виберіть файл";
    top: -10px;
    width: 170px;
    height: 29px;
    border-radius: 3px;
    background-color: #3e6aff;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    padding-top: 12px;
    transition: 0.2s;
}

.photo-input label:hover::before {
    filter: drop-shadow(0px 2px 2.5px rgba(15, 40, 126, 0.35));
    background-color: #2857f4;
}

.form4 tr {
    display: block;
    margin-bottom: 13px;
}

.form4 .photo-input {
    margin-bottom: 21px;
}

.form4 .radio-male {
    margin-bottom: 17px;
}

.radio-male label {
    margin-right: 30px;
}

.form4 td:first-child {
    width: 160px;
}

.radio-male td:last-child {
    margin-right: 25px;
}

p.textarea-p {
    position: absolute;
    top: 15px;
}

.form4 {
    margin-bottom: 72px;
}

.form4 a {
    position: relative;
    top: 8px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    border-radius: 3px;
    background-color: #12d661;
    text-decoration: none;
    padding: 13.5px 114px;
    transition: 0.2s;
    margin-left: 166px;
}

.form4 a:hover {
    filter: drop-shadow(0px 2px 2.5px rgba(8, 118, 52, 0.35));
    background-color: #07be51;
}

.form1 {
    margin-bottom: 104px;
}

.form6 {
    position: relative;
    margin-right: 81px;
}

.close-form {
    position: relative;
    margin-left: 262px;
    width: 12px;
    height: 2px;
    background-color: #949494;
    transform: rotate(45deg);
}

.close-form2 {
    position: relative;
    margin-left: 262px;
    bottom: 2px;
    width: 12px;
    height: 2px;
    background-color: #949494;
    transform: rotate(-45deg);
}

a.close:hover>.close-form,
a.close:hover>.close-form2 {
    background-color: rgb(75, 75, 75);
}

.form-container {
    position: fixed;
    width: 258px;
    padding: 25px;
    padding-bottom: 55px;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 6px rgba(0, 0, 0, 0.15));
    background-color: #fafafa;
    border: 1px solid #e6e6e6;
    z-index: 2;
}

.form-container a:last-child {
    position: relative;
    top: 21px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    border-radius: 3px;
    background-color: #12d661;
    text-decoration: none;
    padding: 13.5px 108.87px;
    transition: 0.2s;
}

.form-container .check+label {
    top: 7px;
}

.form-container .tick p {
    top: 2px;
}

#pass {
    margin-bottom: 0;
}

input.radio {
    display: none;
}

label.radio-label:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid #cccccc;
    left: -25px;
    transition: 0.3s;
}

.radio:checked+label.radio-label:before {
    border: 1px solid #3e6aff;
}

p.disabled {
    color: #b3b3b3;
}

.radio>p {
    margin-bottom: 15px;
}

.disabled-label-radio:before {
    background-color: #f7f7f7;
}

.radio:checked+label.radio-label:after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 4px;
    background-color: #3e6aff;
    left: -20px;
    top: 5px;
    transition: 0.5s;
}

.form-container a:last-child:hover {
    background-color: #07be51;
    filter: drop-shadow(0px 2px 2.5px rgba(8, 118, 52, 0.35));
}

.form-container input {
    width: 238px;
    padding: 10px;
    max-width: 260px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.form-container p:not(p:first-child) {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
    margin-bottom: 8px;
}

.form-container input {
    margin-bottom: 4px;
}

.password-for {
    position: relative;
    font-size: 13px;
    color: #3e6aff;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
}

.close-sign:before {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #949494;
    transform: rotate(45deg);
    transition: 0.2s;
    right: 10px;
}


.close-sign:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: #949494;
    transform: rotate(-45deg);
    transition: 0.2s;
    right: 10px;
}

.close-sign:hover:before {
    background-color: #000;
}

.close-sign:hover:after {
    background-color: #000;
}

.form-container input {
    transition: 0.2s;
}

.form-container input:hover {
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
    border-radius: 3px;
}

.password-for:hover {
    text-decoration: underline;
    color: #3e6aff;
}

.form-container label p {
    font-size: 13px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.form5 th {
    text-align: left;
}

.form5 tr:first-child th:first-child {
    font-size: 18px;
    color: #1f222c;
    font-weight: 700;
    font-family: "Roboto";
}

.form5 th {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
}

.form5 td {
    font-size: 13px;
    color: #b3b3b3;
    font-weight: 400;
    font-family: "Roboto";
    padding-bottom: 5px;
}

.form5 input,
.form5 select {
    width: 196px;
    padding: 11.5px 10px;
    margin-right: 7px;
}

.form5 select {
    width: 220px;
}

.form5 table {
    position: relative;
}


input.adress-input {
    position: absolute;
    width: 423px;
    top: 192px;
    padding-bottom: 9px;
}

.form5 th {
    padding-bottom: 5px;
}

.form5 input,
.form5 select {
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.form5 input:hover,
.form5 select:hover {
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
    border-radius: 3px;
}

.form5 .tick {
    padding-top: 22px;
}

.form5 p {
    font-size: 14px;
    color: #1f222c;
    font-weight: 400;
    font-family: "Roboto";
}

.form5 thead::after {
    content: "";
    width: 680px;
    height: 1px;
    background-color: #000;
}

.form5 {
    position: relative;
}

.form5 tbody tr:first-child td input {
    display: block;
    margin-bottom: 56px;
}

.buttons a:first-child {
    font-size: 14px;
    color: #6e6f77;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    width: 180px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #85868d;
    text-decoration: none;
    padding: 12.5px 24.6px;
    transition: 0.5s;
    margin-right: 320px;
}

.buttons a:first-child:hover {
    background-color: #85868d;
    color: #ffffff;
}

.buttons a:last-child {
    font-size: 14px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
    text-align: center;
    width: 180px;
    height: 43px;
    border-radius: 3px;
    background-color: #12d661;
    text-decoration: none;
    padding: 12.5px 26.8px;
    transition: 0.5s;
}

.buttons a:last-child:hover {
    filter: drop-shadow(0px 2px 2.5px rgba(8, 118, 52, 0.35));
    background-color: #07be51;
}

.th {
    display: block;
    margin-bottom: 12px;
}

.first-hr {
    position: absolute;
    width: 673px;
    top: 192px;
    left: 2px;
}

.form5 select {
    padding-top: 10px;
    padding-bottom: 10px;
}

.last-hr {
    position: relative;
    top: 10px;
    width: 680px;
}

input:focus {
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
    border-radius: 3px;
}

select:focus {
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
    border-radius: 3px;
}

textarea:focus {
    filter: drop-shadow(0 0 2.5px rgba(62, 106, 255, 0.55));
    border: 1px solid #3e6aff;
    border-radius: 3px;
}

textarea {
    min-height: 16px;
}

select {
   appearance: none;
   background: url("../images/select.png") no-repeat right center;
   background-position-x: 316px;
   outline: 0;
}

.form5 select{
    background-position-x: 195px;
}
